.right-side-bar {
  position: relative;
  right: 0;
  margin-top: 1rem;
  z-index: 1;
  width: 150px;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  height: 90%;
  margin-left: auto;
  transition: all 0.3s;

  > svg {
    color: var(--theme-color);
    cursor: pointer;
    padding: 0 0.5rem;
    border-left: 1px solid var(--border-color);
  }
  #listeners {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      span {
        line-height: 2rem;
        padding-left: 1rem;
      }
    }
  }
}
