#app {
  display: flex;
  flex-direction: row;
  .middle {
    flex-basis: auto;
    width: 100%;
    margin: 0;
    padding-right: 0;
    .top-part {
      display: flex;
      flex-direction: row;
      width: 100%;
      #mode {
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items:center ;
        white-space: nowrap;
        .toggle {
          appearance: none;
          visibility: hidden;
          display: none;
        }
        .check {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 20px;
          background: var(--dark-mode-bgcolor);
          cursor: pointer;
          border-radius: 20px;
          overflow: hidden;
          transition: ease-in-out 0.5s;
          border: 1px solid var(--border-color);
        }
        .toggle:checked ~.check{
          background: var(--light-mode-bgcolor);
        }
        .check::before{
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          background: var(--light-mode-bgcolor);
          width:16px;
          height:16px;
          border-radius: 50%;
          transition: 1s;
        }
        .toggle:checked ~.check::before{
          transform:translateX(-50px)
        }
        .check::after{
          content: "";
          position: absolute;
          top: 2px;
          right: 2px;
          background: var(--dark-mode-bgcolor);;
          width:16px;
          height:16px;
          border-radius: 50%;
          transition: 1s;
          transform:translateX(50px)
      
        }
        .toggle:checked ~.check::after{
          transform:translateX(0px)
        }
      }
      #this-user{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        .user-info{
          height: 100%;
          padding: 0 5px;
          p{
            margin: 0;
            padding: 0;
            line-height: 1rem;
          }
          #name{
            font-size: 1rem;
          }
          #email{
            font-size: 0.6rem;
            font-weight: 100;
            letter-spacing: 1px;

          }
        }
      }
    }
    .p-r-container{
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}
