:root {
  /* variables */
  --theme-color: #f44f2f;
  --border-color: #f7d6cf;
  --light-mode-color:#213547;
  --light-mode-bgcolor:#ffffff;
  --dark-mode-bgcolor:#242424;
  --dark-mode-color:rgba(255, 255, 255, 0.87);
  --tab-dark-color:rgb(25, 24, 24);
  --tab-dark-color1:rgb(41, 37, 37);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-mode-color);
  background-color: var(--dark-mode-bgcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--white-mode-color);
    background-color: var(--white-mode-bgcolor);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
